body {
  padding: 0;
  margin: 0;
  background: #ead0b7;
  
  /* Old browsers */
  /* background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%); */
  /* FF3.6-15 */
  /* background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%); */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%); */
}

/** Header styles **/

.header {
  height: 400px;
  background-color: #ee9ca7;
  background-position: center center;
  background-size: cover;
}

#stage {
	font-family: 'Reem Kufi', sans-serif;
	/*background: url("../images/stage-four.jpg") center center no-repeat ;*/
	background-size: cover;
	color: white;
	height: 120%;
	width: 100%;
  background-color: #ee9ca7;

	/*display: flex;
	align-items: center;*/
}

h1 {
  color: #41292C;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 10%;
}

/** List style **/

h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}



ul {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  text-align: center;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 0px 0px;
  padding-bottom: 60px;
  display: inline;
}



li .title {
  color: #8a4b38;
  line-height: 32px;
  text-align: left;
  font-family: 'Microsoft YaHei','Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.heartfeelings {
	max-height: 0;
	overflow: hidden;
	transition: ease 1s;
}

li:hover .heartfeelings{
	max-height: 500px;
}

.aquarius {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
	height: 450px;
}
.charlene_1, .charlene_2 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 330px;
	height: 440px;
	/* border-radius: 100%; */
}

.charlene_1 {
	border-radius: 100%;
}

.charlene_3, .charlene_4 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 350px;
	height: 350px;
	/* border-radius: 100%; */
}

.charlene_5 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 420px;
	height: 280px;
	/* border-radius: 100%; */
}

p {
  color: #8a4b38;
  line-height: 32px;
  text-align: center;
  font-family: 'Microsoft YaHei','Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.verse {
  color: #8a4b38;
  font-family: 'Microsoft YaHei','Raleway', sans-serif;
  font-size: 13px;
  font-weight: 100;
  text-align: right;
  text-decoration: none;
  letter-spacing: 2px;
}


span.st_link{
	background-color:#000;
	float:left;
	position:relative;
	line-height:50px;
	padding:0px 20px;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
	color: #FFFFFF;
}

span.st_arrow_down, span.st_arrow_up{
	position:absolute;
	margin-left:15px;
	width:40px;
	height:50px;
	cursor:pointer;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
}

span.st_arrow_down{
	background:#000 url(../images/down.png) no-repeat center center;
}

span.st_arrow_up{
	background:#000 url(../images/up.png) no-repeat center center;
}
